* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.1;
	margin-bottom: 25px;
	position: relative;
	text-align: center;
	text-transform: uppercase;

	@media (min-width: $screen-sm-min) {

		font-size: 40px;
		text-align: left;
	}
}

.page {
	max-width: 100%;
	overflow: hidden;
	position: relative;
}


.btn_close {
	top: -84px;
	right: -84px;
	width: 57px;
	height: 57px;
	cursor: pointer;
	position: absolute;
}


.form-block {
	color: #fff;
	max-width: 530px;
	background: transparent;
	text-align: center;
	padding: 30px 20px;
	border: 2px solid #bea67c;

	&.form-modal {
		background: #0c0402;
	}

	.form-title {
		font-size: 30px;
		font-weight: 700;
		line-height: 30px;
		text-transform: uppercase;
		margin: 0 -15px 20px -15px;
	}

	.form-text {
		color: #bea67c;
		font-size: 20px;
		font-weight: 300;
		line-height: 26px;
		margin-bottom: 35px;

	}

	.form-inner {
		margin: 0 auto 20px auto;
	}

	@media (min-width: $screen-sm-min) {
		padding: 70px 30px;

		&.form-modal {
			width: 400px;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 70px 80px;
	}
}