.b05 {
    color: #000;
    background: #fff;
    padding-top: 60px;
    padding-bottom: 60px;

    .h2 {
        margin-bottom: 40px;
    }

    ul {
        padding:0;
        max-width: 610px;
        list-style:none;

        li {
            color: #000;
            font-size: 22px;
            line-height: 30px;
            padding-top: 10px;
            padding-left: 60px;
            position: relative;
            margin-bottom: 40px;

            span {
                top: 0;
                left: 0;
                color: #000;
                font-size: 30px;
                font-weight: 700;
                line-height: 30px;
                position: absolute;

                b {
                    color: #bea67c;
                }
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        height: 825px;
        padding-top: 140px;
        background: url("../img/b05_bg.jpg") 50% 100% no-repeat;

        .h2 {
            margin-bottom: 70px;
        }

        ul {

            li {

                &:before {
                    font-size: 40px;
                    line-height: 40px;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

        ul {
            margin-left: 90px;
        }
    }

    @media (min-width: $screen-lg-min) {

        .line1 {
            top: 20px;
            left: -200px;
            width: 140px;
            position: absolute;
            border-bottom: 4px solid #bea67c;
        }

        .line2 {
            top: 180px;
            right: 350px;
            width: 80px;
            position: absolute;
            border-bottom: 1px solid #bea67c;
        }

        .line3 {
            top: 270px;
            right: 350px;
            width: 210px;
            position: absolute;
            border-bottom: 1px solid #bea67c;
        }

        .line4 {
            top: 360px;
            right: 350px;
            width: 40px;
            position: absolute;
            border-bottom: 1px solid #bea67c;
        }

        .line5 {
            top: 450px;
            right: 350px;
            width: 90px;
            position: absolute;
            border-bottom: 1px solid #bea67c;
        }

        .line6 {
            top: -15px;
            right: 40px;
            height: 60px;
            position: absolute;
            border-left: 2px solid #000;
        }

        .line7 {
            top: 450px;
            left: 0px;
            height: 100px;
            position: absolute;
            border-left: 1px solid #000;
        }

        .line8 {
            top: -150px;
            left: 680px;
            height: 40px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }
    }
}