.b02 {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;

    .h2 {
        color: #000;
    }

    .text {
        color: #666;
        font-size: 17px;
        line-height: 24px;
        text-align: center;
        position: relative;
        margin-bottom: 50px;
    }

    .about {

        li {
            color: #666;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            padding-top: 130px;
            position: relative;
            margin-bottom: 40px;
            background-position: 50% 0;
            background-repeat: no-repeat;

            span {
                display: block;
                min-height: 75px;
            }

            &:before {
                top: 105px;
                left: 50%;
                width: 40px;
                content: '';
                margin-left: -20px;
                position: absolute;
                border-bottom: 2px solid #bea67c;
            }

            &.item1 {
                background-image: url("../img/b02_icon1.png");
            }

            &.item2 {
                background-image: url("../img/b02_icon1.png");
            }

            &.item3 {
                background-image: url("../img/b02_icon1.png");
            }

            &.item4 {
                background-image: url("../img/b02_icon1.png");
            }

            &.item5 {
                background-image: url("../img/b02_icon1.png");
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 140px;
        background: url("../img/b02_bg.jpg") 50% 0 no-repeat;

        .text {
            text-align: left;
            max-width: 420px;
            margin-bottom: 100px;
        }

        .about {
            margin: 0 -10px;

            li {
                float: left;
                width: 33.33%;
                text-align: left;
                margin-bottom: 70px;
                background-position: 0 0;
                padding: 130px 10px 0 10px;

                &:before {
                    left: 0;
                    margin-left: 0;
                }

                span {
                    max-width: 300px;
                    padding-left: 20px;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {

        .line1 {
            top: 20px;
            left: -170px;
            width: 130px;
            position: absolute;
            border-bottom: 1px solid #000;
        }

        .line2 {
            top: 8px;
            left: -80px;
            width: 40px;
            position: absolute;
            border-bottom: 4px solid #bea67c;
        }

        .line3 {
            top: -20px;
            right: -30px;
            height: 200px;
            position: absolute;
            border-left: 1px solid #000;
        }

        .line4 {
            bottom: 50px;
            left: -150px;
            height: 100px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }

        .line5 {
            top: 520px;
            left: 1120px;
            width: 60px;
            position: absolute;
            border-bottom: 1px solid #000;
        }

        .line6 {
            top: -155px;
            left: 680px;
            height: 45px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }
    }
}

