.b04 {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("../img/b04_bg.jpg") 50%  50% no-repeat;
    background-size: cover;

    .h2 {
        color: #fff;
        position: relative;
    }

    .t1 {
        color: #bea67c;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin-bottom: 100px;
        position: relative;
    }

    .t2 {
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        text-align: center;

        p {
            margin-bottom: 40px;
        }
    }

    @media (min-width: $screen-sm-min) {
        height: 696px;
        padding-top: 140px;
        background-size: auto auto;

        .t1 {
            font-size: 24px;
            max-width: 740px;
            text-align: left;
            line-height: 36px;
        }

        .t2 {
            float: right;
            max-width: 380px;
            text-align: right;
        }
    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {

        .line1 {
            top: 50%;
            left: -170px;
            width: 130px;
            position: absolute;
            border-bottom: 1px solid #fff;
        }

        .line2 {
            top: 20px;
            left: -80px;
            width: 40px;
            position: absolute;
            border-bottom: 4px solid #bea67c;
        }

        .line3 {
            top: -30px;
            right: 0;
            height: 100px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }


        .line4 {
            bottom: 0;
            left: 0;
            height: 60px;
            position: absolute;
            border-left: 1px solid #fff;
        }
    }

}