.b03 {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #111111 url("../img/b03_bg.png") 50% 50% no-repeat;
    background-size: contain;

    .h2 {
        color: #fff;
        margin-bottom: 50px;
        text-align: center;
    }

    .complete {
        max-width: 350px;
        position: relative;
        margin: 0 auto 55px auto;

        .complete-item {
            position: relative;
            margin-bottom: 10px;

            &:before {
                top: 10px;
                left: 10px;
                right: 10px;
                z-index: 20;
                bottom: 10px;
                content:  '';
                position: absolute;
                border: 1px solid #bea67c;
            }

            &:after {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 10;
                content: '';
                position: absolute;
                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
                background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

            }

            span {
                left: 30px;
                color: #fff;
                bottom: 25px;
                z-index: 100;
                display: block;
                font-size: 16px;
                font-weight: 300;
                line-height: 26px;
                position: absolute;
            }
        }
    }


    .text {
        color: #fff;
        font-size: 22px;
        line-height: 30px;
        text-align: center;

        span {
            position: relative;
            display: inline-block;
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 140px;
        padding-bottom: 140px;


        .h2 {
            text-align: center;
            padding-bottom: 35px;
            margin-bottom: 80px;

            &:before {
                left: 50%;
                bottom: 0;
                content: '';
                width: 80px;
                margin-left: -40px;
                position: absolute;
                border-bottom: 4px solid #bea67c;
            }
        }

        .complete {
            max-width: 1080px;

            li {
                float: left;
                width: 33.33%;
                padding: 0 5px;
            }
        }
    }

    @media (min-width: $screen-md-min) {

        .text {
            span {

                &:after,
                &:before {
                    top: 50%;
                    width: 40px;
                    content: '';
                    position: absolute;
                    border-bottom: 1px solid #bea67c;
                }

                &:after {
                    left: -110px;
                }

                &:before {
                    right: -110px;
                }
            }
        }
    }

    @media (min-width: $screen-lg-min) {

        .line1 {
            top: 50%;
            left: -30px;
            height: 100px;
            margin-top: -50px;
            position: absolute;
            border-left: 1px solid #fff;
        }

        .line2 {
            top: 60%;
            width: 40px;
            right: -50px;
            position: absolute;
            border-bottom: 1px solid #fff;
        }

        .line3 {
            top: -160px;
            left: 1000px;
            height: 100px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }
    }
}