.b10 {
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    background: url("../img/b10_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    .h2 {
        margin-bottom: 10px;
        position: relative;
    }

    .subtitle {
        color: #bea67c;
        font-size: 24px;
        font-weight: 300;
        line-height: 36px;
        position: relative;
        text-align: center;
        margin-bottom: 70px;
    }

    .text {
        text-align: center;

        p {
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 40px;
        }
    }

    @media (min-width: $screen-sm-min) {
        height: 680px;
        padding-top: 140px;
        background-size: auto auto;

        .subtitle {
            text-align: left;
            margin-bottom: 110px;
        }

        .text {
            float: right;
            max-width: 460px;
            text-align: right;
        }

    }

    @media (min-width: $screen-md-min) {

    }


    @media (min-width: $screen-lg-min) {

        .line1 {
            top: 50%;
            left: -170px;
            width: 130px;
            position: absolute;
            border-bottom: 1px solid #fff;
        }

        .line2 {
            top: 20px;
            left: -80px;
            width: 40px;
            position: absolute;
            border-bottom: 2px solid #bea67c;
        }

        .line3 {
            bottom: -40px;
            left: 205px;
            height: 80px;
            position: absolute;
            border-left: 1px solid #fff;
        }


        .line4 {
            top: 0;
            right: 0;
            height: 80px;
            position: absolute;
            border-left: 1px solid #bea67c;
        }
    }
}
