.b06 {
    color: #000;
    padding-top: 60px;
    background: #f9f9f9;
    padding-bottom: 60px;

    .h2 {
        position: relative;
    }

    .text {
        color: #444;
        font-size: 24px;
        line-height: 36px;
        max-width: 880px;
        margin-bottom: 80px;
        position: relative;
    }

    .noise {

        li {
            color: #444;
            width: 100%;
            height: 100%;
            max-width: 320px;
            display: table;
            font-size: 17px;
            line-height: 26px;
            position: relative;
            margin-bottom: 40px;
            background-repeat: no-repeat;
            background-position: 25px 50%;
            border-left: 1px solid #bea67c;

            span {
                height: 100px;
                display: table-cell;
                padding-left: 100px;
                vertical-align: middle;
            }

            &.item1 {
                background-image: url("../img/b06_item1.png");
            }

            &.item2 {
                background-image: url("../img/b06_item1.png");
            }

            &.item3 {
                background-image: url("../img/b06_item1.png");
            }

            &.item4 {
                background-image: url("../img/b06_item1.png");
            }

            &.item5 {
                background-image: url("../img/b06_item1.png");
            }

            &.item6 {
                background-image: url("../img/b06_item1.png");
            }
        }
    }

    .tiles {
        width: 285px;
        margin: 0 auto;

        .row {
            margin: 0 -5px;

            .col-md-6 {
                padding-left: 5px;
                padding-right: 5px;
            }

            .col-sm-6 {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .tiles-box {
            margin-bottom: 10px;
            position: relative;

            .tile-link {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background: rgba(0,0,0, 0.4);

                &:hover {
                    background: rgba(0,0,0, 0.7);

                    &:before {
                        top: 10px;
                        left: 10px;
                        right: 10px;
                        bottom: 10px;
                        content: '';
                        position: absolute;
                        border: 1px solid #a09e9d;
                    }

                    .tile-text {
                        display: block;
                    }
                }
            }


            .tile-text {
                top: 25px;
                left: 35px;
                right: 35px;
                color: #fff;
                display: block;
                position: absolute;

                .t1 {
                    font-size: 16px;
                    line-height: 20px;
                    text-transform: uppercase;
                }

                .t2 {
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            &.tiles-video {

                .tile-link {

                    &:after {
                        top: 50%;
                        left: 50%;
                        color: #fff;
                        z-index: 50;
                        width: 100px;
                        height: 100px;
                        display: block;
                        padding: 33px 0 33px 5px;
                        font-size: 30px;
                        line-height: 30px;
                        margin-top: -50px;
                        margin-left: -50px;
                        text-align: center;
                        position: absolute;
                        content: "\f04b";
                        font-family: FontAwesome;
                        text-decoration: none;
                        border: 2px solid #fff;
                        @include border-radius(50%);
                    }

                    &:hover {

                        .tile-text {
                            display: none;
                        }

                        &:before {
                            top: 20px;
                            left: 20px;
                            right: 20px;
                            bottom: 20px;
                            position: absolute;
                            border: 1px solid #827d78;
                        }
                    }
                }

                .tile-text {
                    top: auto;
                    left: 50px;
                    right: 40px;
                    bottom: 40px;
                    display: none;
                }

            }
        }
    }


    @media (min-width: $screen-sm-min) {

        padding-top: 140px;
        padding-bottom: 100px;
        background: #f9f9f9 url("../img/b06_bg.jpg") 50% 550px no-repeat;

        .noise {

            li {
                float: left;
                width: 50%;
                max-width: inherit;
                margin-bottom: 80px;

                &:before {
                    top: 50%;
                    left: 90px;
                    content: '';
                    width: 25px;
                    position: absolute;
                    border-bottom: 1px solid #000;
                }

                span {
                    padding-left: 130px;
                    padding-right: 100px;
                }
            }
        }

        .tiles {
            width: 580px;

            .tiles-box {

                &.tiles-video {

                    .tile-text {
                        display: block;
                    }

                    &:hover {

                        .tile-text {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

        .tiles {
            width: 100%;

            .tiles-box {

                .tile-text {
                    display: none;
                }

                .tile-link {

                    &:hover {

                        .tile-text {
                            display: block;
                        }
                    }
                }
            }
        }
    }


    @media (min-width: $screen-lg-min) {

        .noise {

            li {
                width: 33.33%;
            }
        }

        .line1 {
            top: 20px;
            left: -180px;
            width: 140px;
            position: absolute;
            border-bottom: 1px solid #000;
        }

        .line2 {
            top: 15px;
            left: -80px;
            width: 40px;
            position: absolute;
            border-bottom: 4px solid #bea67c;
        }

        .line3 {
            top: -165px;
            right: 0px;
            height: 100px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }

        .line4 {
            top: 665px;
            right: -160px;
            width: 80px;
            position: absolute;
            border-bottom: 2px solid #bea67c;
        }
    }
}

.b061 {
    color: #000;
    background: #f9f9f9;
    padding-bottom: 140px;

    .h2 {
        font-size: 34px;
        line-height: 40px;
        max-width: 640px;
        margin-bottom: 50px;
    }

    @media (min-width: $screen-sm-min) {

        .p_logo {
            width: 100%;
            height: 350px;
            margin-top: 60px;
            position: relative;

            li {
                position: absolute;

                &.item1 {
                    top: 20px;
                    left: 110px;
                    width: 127px;
                    height: 217px;
                }

                &.item2 {
                    top: 0;
                    right: 0;
                    width: 225px;
                    height: 225px;
                }

                &.item3 {
                    left: 0;
                    bottom: 0;
                    width: 169px;
                    height: 169px;
                }


                &.item4 {
                    right: 170px;
                    bottom: 0;
                    width: 127px;
                    height: 127px;
                }
            }
        }
    }


    @media (min-width: $screen-md-min) {
        height: 500px;
        background: #f9f9f9 url("../img/b061_bg.png") 50% 100% no-repeat;

        .h2 {
            margin-top: 40px;
        }

        .p_logo {
            margin-top: 0;
        }
    }

    @media (min-width: $screen-lg-min) {

        .p_logo {
            margin-left:  40px;
        }

        .line1 {
            top: 20px;
            left: -180px;
            width: 140px;
            position: absolute;
            border-bottom: 1px solid #000;
        }

        .line2 {
            bottom: -40px;
            left: 50%;
            height: 40px;
            position: absolute;
            border-left: 1px solid #000;
        }
    }
}