.b13 {
    color: #000;
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;


    .h2 {
        position: relative;
        margin-bottom: 70px;

        span {
            display: block;
            font-size: 24px;
            line-height: 30px;
        }
    }

    .warranty {

        li {
            color: #444;
            display: table;
            font-size: 17px;
            line-height: 25px;
            position: relative;
            margin-bottom: 40px;
            padding-left: 100px;

            &:before {
                top: 0;
                bottom: 0;
                left: 68px;
                content: '';
                position: absolute;
                border-right: 1px solid #bea67c;
            }

            &:after {
                top: 50%;
                left: 63px;
                content: '';
                width: 15px;
                position: absolute;
                border-bottom: 1px solid #000;
            }

            span {
                min-width: 68px;
                display: table-cell;
                vertical-align: middle;
            }

            &.item1 {
                background: url("../img/b13_item1.png") 0 50% no-repeat;
            }

            &.item2 {
                background: url("../img/b13_item1.png") 0 50% no-repeat;
            }

            &.item3 {
                background: url("../img/b13_item1.png") 0 50% no-repeat;
            }

            &.item4 {
                background: url("../img/b13_item1.png") 0 50% no-repeat;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 140px;
        padding-bottom: 140px;
        background: #fff url("../img/b13_bg.jpg") 50% 150px no-repeat;

        .h2 {

            span {

            }
        }

        .warranty {
            width: 550px;
            margin-bottom: 20px;

            li {
                padding-left: 115px;

                span {
                    height: 68px;
                }
            }
        }

    }

    @media (min-width: $screen-md-min) {

        .warranty {
            margin-left: 60px;
        }
    }

    @media (min-width: $screen-lg-min) {

        .warranty {
            width: 620px;
        }


        .line1 {
            top: 20px;
            left: -120px;
            width: 80px;
            position: absolute;
            border-bottom: 3px solid #bea67c;
        }

        .line2 {
            bottom: 45px;
            left: 1070px;
            width: 100px;
            position: absolute;
            border-bottom: 1px solid #000;
        }

        .line3 {
            bottom: 0;
            left: -70px;
            height: 100px;
            position: absolute;
            border-left: 1px solid #000;
        }

        .line4 {
            top: -175px;
            right: 0px;
            height: 100px;
            position: absolute;
            border-left: 1px solid #bea67c;
        }

    }
}