.b12 {
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    background: url("../img/b12_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    .h2 {
        margin-bottom: 40px;
    }

    .review {
        width: 276px;
        margin: 0 auto;
        position: relative;

        .review-item {
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
        }

        .review-inner {
            width: 276px;
            margin: 0 auto;
        }

        .review-text {
            padding: 8px;
            width: 210px;
            height: 298px;
            display: block;
            margin: 0 auto;
            position: relative;
            border: 2px solid #666;

            &:hover {

                &:before {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    content: '';
                    z-index: 10;
                    position: absolute;
                    @include transition(.3s);
                    background: rgba(0,0,0, 0.6);
                }

                &:after {
                    top: 50%;
                    left: 50%;
                    z-index: 20;
                    content: '';
                    width: 48px;
                    height: 48px;
                    @include transition(.3s);
                    margin-top: -24px;
                    margin-left: -24px;
                    position: absolute;
                    background: url("../img/view-btn.png") 0 0 no-repeat;
                }
            }
        }

        .review-video {
            width: 276px;
            height: 276px;
            padding: 10px;
            display: block;
            margin-top: 22px;
            position: relative;
            border: 2px solid #666;
            @include border-radius(50%);

            img {
                @include border-radius(50%);
            }

            &:before {
                top: 50%;
                left: 50%;
                color: #fff;
                width: 90px;
                height: 90px;
                padding: 33px 0;
                font-size: 20px;
                content: '\f04b';
                line-height: 20px;
                margin-top: -45px;
                margin-left: -45px;
                text-align: center;
                position: absolute;
                font-family: FontAwesome;
                border: 2px solid #bea67c;
                @include border-radius(50%);
                @include transition(.3s);
            }

            &:hover {

                &:before {
                    background: #bea67c;
                    @include transition(.3s);
                }
            }
        }

        .review-author {
            font-size: 15px;
            font-weight: 700;
            line-height: 20px;
            padding-top: 50px;
            position: relative;

            &:before {
                top: 25px;
                left: 50%;
                content: '';
                width: 50px;
                margin-left: -20px;
                position: absolute;
                border-bottom: 1px solid #bea67c;
            }
        }

        .review-theme {
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
        }

        .review-nav {
            top: 130px;
            width: 17px;
            height: 68px;
            cursor: pointer;
            position: absolute;
            background: url("../img/slider-nav.png") no-repeat;

            &.prev {
                left: -20px;
                background-position: 0 0;
            }

            &.next {
                right: -20px;
                background-position: -17px 0;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        height:  838px;
        padding-top: 140px;
        background-size: auto auto;

        .h2 {
            margin-bottom: 60px;
        }

        .review {
            width: auto;
            margin: 0 60px;

            .review-item {
                width: 50%;
                float: left;
            }


            .review-nav {

                &.prev {
                    left: -60px;
                }

                &.next {
                    right: -60px;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {


        .review {

            .review-item {
                width: 33.33%;
            }
        }
    }

    @media (min-width: $screen-lg-min) {

        .line1 {
            top: 18px;
            left: -120px;
            width: 80px;
            position: absolute;
            border-bottom: 4px solid #bea67c;
        }

        .line2 {
            top: -160px;
            left: 10px;
            height: 80px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }

        .line3 {
            top: -20px;
            right: -10px;
            height: 40px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }

        .line4 {
            bottom: -20px;
            left: 0px;
            width: 80px;
            position: absolute;
            border-bottom: 1px solid #bea67c;
        }
    }
}

