.b09 {
    padding-top: 70px;
    padding-bottom: 70px;

    .h2 {
        margin-bottom: 40px;
    }

    .tabs {


        .tabs-nav {
            font-size: 0;
            line-height: 0;
            text-align: center;
            margin-bottom: 40px;
            position: relative;

            li {
                width: 100%;
                display: inline-block;

                a {
                    width: 100%;
                    color: #444;
                    font-size: 14px;
                    padding: 8px 5px;
                    font-weight: 700;
                    line-height: 20px;
                    text-align: center;
                    display: inline-block;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                &.active {

                    a {
                        color: #bea67c;
                    }
                }
            }
        }


        .tabs-content {
            height: 260px;
            position: relative;
        }

        .tabs-item-inner {
            position: relative;
        }

        .tabs-item {
            left: 0;
            top: 0;
            right: 0;
            position: absolute;
            @include opacity(0);

            &.active {
                z-index: 400;
                @include opacity(1);

                .p-nav-inner {
                    z-index: 100;
                }

                .portfolio-nav-sub {
                    z-index: 500;
                }
            }
        }
    }

    .portfolio {

        .portfolio-item {
            position: relative;
            border: 3px solid #bea67c;

            .portfolio {

                .portfolio-item {
                    border: none;
                }

            }

            &.slick-current {

                .portfolio-item {
                    z-index: 300;
                    border: none;
                }
            }
        }


        .portfolio-image {

        }

        .portfolio-text {
            color: #000;
            display: none;
            padding-top: 20px;

            h4 {
                font-size: 22px;
                font-weight: 600;
                line-height: 24px;
                position: relative;
                margin-bottom: 18px;
                padding-bottom: 12px;

                &:before {
                    left: 0;
                    bottom: 0;
                    content: '';
                    width: 40px;
                    position: absolute;
                    border-bottom: 1px solid #000;
                }
            }

            li {
                font-size: 12px;
                font-weight: 300;
                line-height: 24px;

                span {
                    font-size: 15px;
                }
            }
        }

        .portfolio-nav {
            top: 50%;
            width: 17px;
            height: 68px;
            z-index: 100;
            cursor: pointer;
            margin-top: -34px;
            position: absolute;
            background: url("../img/slider-nav-white.png") no-repeat;

            &.prev {
                left: 8px;
                background-position: 0 0;
            }

            &.next {
                right: 8px;
                background-position: -17px 0;
            }
        }

        .portfolio-nav-sub {
            top: 50%;
            width: 17px;
            height: 68px;
            z-index: 100;
            cursor: pointer;
            margin-top: -34px;
            position: absolute;
            background: url("../img/slider-nav-white.png") no-repeat;

            &.prev {
                left: 5px;
                background-position: 0 0;
            }

            &.next {
                right: 5px;
                background-position: -17px 0;
            }
        }

        .portfolio-video {
            display: block;
            position: relative;

            &:before {
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                content: '';
                display: none;
                position: absolute;
                background: rgba(0,0,0, 0.7);
            }

            &:after {
                top: 50%;
                left: 50%;
                color: #fff;
                z-index: 50;
                width: 100px;
                height: 100px;
                display: block;
                padding: 33px 0 33px 5px;
                font-size: 30px;
                line-height: 30px;
                margin-top: -50px;
                margin-left: -50px;
                text-align: center;
                position: absolute;
                content: "\f04b";
                font-family: FontAwesome;
                text-decoration: none;
                border: 2px solid #fff;
                background: rgba(0,0,0, 0.5);
                @include border-radius(50%);
            }


            &:hover {

                &:before {
                    display: block;
                }
            }

        }
    }

    .p-nav-inner {
        display: none;
    }

    @media (min-width: $screen-sm-min) {

        padding-top: 145px;
        padding-bottom: 140px;
        background: url("../img/b09_bg.png") 50% 630px no-repeat;

        .h2 {
            text-align: center;
            margin-bottom: 70px;
            padding-bottom: 35px;

            &:before {
                left: 50%;
                bottom: 0;
                content: '';
                width: 80px;
                margin-left: -40px;
                position: absolute;
                border-bottom: 4px solid #bea67c;
            }
        }

        .tabs {

            .tabs-nav {
                font-size: 0;
                line-height: 0;
                text-align: center;
                margin-bottom: 40px;

                li {
                    width: auto;
                    display: inline-block;
                    margin: 0 20px 10px 20px;

                    a {
                        width: 100%;
                        color: #444;
                        font-size: 14px;
                        padding: 8px 5px;
                        font-weight: 700;
                        line-height: 20px;
                        text-align: center;
                        display: inline-block;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
            }

            .tabs-content {
                height: 320px;
            }
        }

        .portfolio {

            .portfolio-text {
                left: 60px;
                bottom: 50px;
                color: #fff;
                display: block;
                position: absolute;

                h4 {

                    &:before {
                        border-color: #9d928d;
                    }
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

        .tabs {

            .tabs-nav {
                padding: 0 130px;
            }
        }

        .tabs {

            .tabs-item {

            }

            .tabs-content {
                height: 490px;
            }

            .tabs-item-inner {
                padding-top: 50px;
            }
        }

        .p-nav-inner {
            top: 0;
            left: 40px;
            right: 40px;
            display: block;
            position: absolute;
        }

        .p-nav {
            position: relative;

            .p-nav-item {
                margin: 0 5px;
                outline: none;
                cursor: pointer;
                position: relative;

                .p-nav-text {
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                    background: rgba(0,0,0, 0.4);
                }

                p {
                    left: 15px;
                    right: 15px;
                    bottom: 15px;
                    color: #fff;
                    font-size: 14px;
                    line-height: 20px;
                    position: absolute;
                    margin-bottom: 0;
                    border: 2px solid transparent;

                    display: none;

                    strong {
                        display: block;
                        font-weight: 600;
                    }

                    span {
                        display: block;
                        font-weight: 300;
                    }
                }

                &.slick-current {

                    .p-nav-text {
                        border: 2px solid #f9f9f9;
                        background: rgba(0,0,0, 0);
                    }
                }

                &:hover {

                    .p-nav-text {
                        border: 2px solid #f9f9f9;
                        background: rgba(0,0,0, 0.7);
                    }

                    p {
                        display: block;
                    }
                }
            }
        }
    }


    @media (min-width: $screen-lg-min) {

        .tabs {

            .tabs-nav {
                padding: 0 230px;

                &:before {
                    left: 0;
                    top: 30px;
                    content: '';
                    width: 150px;
                    position: absolute;
                    border-bottom: 1px solid #dddddd;
                }

                &:after {
                    right: 0;
                    top: 30px;
                    content: '';
                    width: 150px;
                    position: absolute;
                    border-bottom: 1px solid #dddddd;
                }
            }

            .tabs-content {
                height: 570px;
            }
        }


        .line1 {
            top: -170px;
            left: 1030px;
            height: 80px;
            position: absolute;
            border-left: 1px solid #000;
        }

        .line2 {
            bottom: -60px;
            left: 100px;
            width: 60px;
            position: absolute;
            border-bottom: 1px solid #000;
        }
    }
}

