.b08 {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #f9f9f9;

    .fact-inner {
        margin-bottom: 50px;
    }

        .fact {
            width: 100%;
            display: table;
            padding-top: 30px;
            margin-bottom: 20px;

        li {
            height: 60px;
            position: relative;
            display: table-cell;
            vertical-align: middle;

            &.fact-value {
                width: 120px;
                font-size: 60px;
                font-weight: 700;
                line-height: 60px;
                text-align: right;
                padding-right: 26px;

                &:before {
                    top: 50%;
                    right: 0;
                    content: '';
                    height: 36px;
                    margin-top: -18px;
                    position: absolute;
                    border-left: 1px solid #bea67c;
                }

                &:after {
                    left: 0;
                    top: -20px;
                    content: '';
                    width: 23px;
                    height: 23px;
                    position: absolute;
                }

                &.fact1 {

                    &:after {
                        background: url("../img/fact01.png") 100% 100% no-repeat;
                    }
                }


                &.fact2 {

                    &:after {
                        background: url("../img/fact02.png") 100% 100% no-repeat;
                    }
                }
            }

            &.fact-text {
                color: #444;
                font-size: 17px;
                line-height: 24px;
                padding-left: 20px;

            }

            &.fact-title {
                color: #444;
                font-size: 28px;
                font-weight: 300;
                line-height: 30px;
            }
        }
    }

    .command {
        max-width: 390px;
        margin: 0 auto;

        li {
            width: 100%;
            float: left;
            height: 380px;
            cursor: pointer;
            position: relative;
            border-bottom: 1px;
            border-left: 1px solid #fff;
            background-size: cover;
            @include transition(.3s);

            &:before {
                top: 50%;
                left: 50%;
                width: 60px;
                height: 60px;
                content: '';
                margin-top: -30px;
                margin-left: -30px;
                position: absolute;
            }

            &:first-child {
                border: none;
            }

            &.item1 {
                background: url("../images/command01.jpg") 50% 0 no-repeat;

                &:before {
                    background: url("../img/b08_item1.png") 50% 50% no-repeat;
                }
            }

            &.item2 {
                background: url("../images/command01.jpg") 0 0 no-repeat;

                &:before {
                    background: url("../img/b08_item2.png") 50% 50% no-repeat;
                }
            }

            &.item3 {
                background: url("../images/command01.jpg") 0 0 no-repeat;

                &:before {
                    background: url("../img/b08_item3.png") 50% 50% no-repeat;
                }
            }

            &.item4 {
                background: url("../images/command01.jpg") 0 0 no-repeat;

                &:before {
                    background: url("../img/b08_item4.png") 50% 50% no-repeat;
                }
            }

            &.item5 {
                background: url("../images/command01.jpg") 0 0 no-repeat;

                &:before {
                    background: url("../img/b08_item5.png") 50% 50% no-repeat;
                }
            }

            .command-text {
                color: #fff;
                left: 20px;
                right: 20px;
                z-index: 50;
                bottom: 20px;
                position: absolute;
                @include opacity(1);

                .command-title {
                    font-size: 16px;
                    font-weight: 300;
                    margin-bottom: 10px;

                    strong {
                        display: block;
                        font-size: 13px;
                    }
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 18px;
                }
            }

            &.active {
                width: 100%;
                @include transition(.3s);

                .command-text {
                    display: block;
                    @include opacity(1);
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 140px;
        padding-bottom: 140px;
        background: #f9f9f9 url("../img/b08_bg.png") 50% 100% no-repeat;

        .command {
            width: 100%;
            max-width: inherit;

            li {
                width: 15%;
                background-position: 0 0;

                &.active {
                    width: 40%
                }

                .command-text {
                    @include opacity(0);
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

    }

    @media (min-width: $screen-lg-min) {

        .fact-inner {

            margin-left: 120px;
            margin-right: 120px;
        }

        .command {
            width: 100%;
            max-width: inherit;

            li {
                width: 16.7%;

                &.active {
                    width: 33%
                }
            }
        }


        .line1 {
            top: 400px;
            left: -220px;
            width: 150px;
            position: absolute;
            border-bottom: 1px solid #000;
        }

        .line2 {
            top: 490px;
            right: -220px;
            width: 150px;
            position: absolute;
            border-bottom: 1px solid #000;
        }

        .line3 {
            top: 0px;
            right: 0px;
            height: 80px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }

        .line4 {
            top: -170px;
            left: 0px;
            height: 70px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }
    }
}