.b14 {
    color: #000;
    padding-top: 70px;
    padding-bottom: 70px;

    .h2 {
        margin-bottom: 20px;
    }


    .subtitle {
        color: #444;
        font-size: 24px;
        font-weight: 300;
        line-height: 36px;
        position: relative;
        text-align: center;
        margin-bottom: 40px;
    }

    .gallery {
        width: 260px;
        margin: 0 auto;

        .row {
            margin-left: -5px;
            margin-right: -5px;

            .col-sm-6,
            .col-md-6,
            .col-lg-5,
            .col-lg-7,
            .col-lg-4 {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        a {
            display: block;
            position: relative;
            margin-bottom: 10px;

            &.gallery-video {

                &:before {
                    top: 50%;
                    left: 50%;
                    color: #fff;
                    width: 90px;
                    height: 90px;
                    padding: 33px 0;
                    font-size: 20px;
                    content: '\f04b';
                    line-height: 20px;
                    margin-top: -45px;
                    margin-left: -45px;
                    text-align: center;
                    position: absolute;
                    font-family: FontAwesome;
                    border: 2px solid #bea67c;
                    @include border-radius(50%);
                    @include transition(.3s);
                    background: rgba(0,0,0, 0.6);
                }

                &:hover {

                    &:before {
                        @include transition(.3s);
                    }

                    &:after {
                        top: 10px;
                        left: 10px;
                        right: 10px;
                        bottom: 10px;
                        content: '';
                        z-index: 10;
                        position: absolute;
                        border: 1px solid #9f9d9b;
                    }
                }
            }

            &.gallery-image {

                &:hover {

                    &:before {
                        top: 10px;
                        left: 10px;
                        right: 10px;
                        bottom: 10px;
                        content: '';
                        z-index: 10;
                        position: absolute;
                        border: 1px solid #9f9d9b;
                    }

                    &:after {
                        top: 50%;
                        left: 50%;
                        z-index: 20;
                        content: '';
                        width: 48px;
                        height: 48px;
                        @include transition(.3s);
                        margin-top: -24px;
                        margin-left: -24px;
                        position: absolute;
                        background: url("../img/view-btn.png") 0 0 no-repeat;
                    }

                    .inner {
                        position: relative;

                        &:before {
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            content: '';
                            z-index: 5;
                            position: absolute;
                            @include transition(.3s);
                            background: rgba(0,0,0, 0.6);
                        }
                    }
                }
            }
        }

        .text {
            color: #444;
            padding: 20px 0;
            font-size: 20px;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 10px;
        }
    }


    @media (min-width: $screen-sm-min) {

        padding-top: 140px;
        padding-bottom: 140px;
        background: #f9f9f9 url("../img/b14_bg.jpg") 50% 530px no-repeat;

        .subtitle {
            text-align: left;
            margin-bottom: 80px;
        }

        .gallery {
            width: 530px;
        }

    }

    @media (min-width: $screen-md-min) {

        .gallery {
            width: 100%;

            .text {
                height: 222px;
                padding-top: 50px;
                padding-right: 40px;
            }
        }
    }

    @media (min-width: $screen-lg-min) {

        .gallery {

            .text {
                height: 210px;
                padding-top: 50px;
                padding-right: 70px;
            }
        }

        .line1 {
            top: 50%;
            left: -170px;
            width: 130px;
            position: absolute;
            border-bottom: 1px solid #000;
        }

        .line2 {
            top: 20px;
            left: -80px;
            width: 40px;
            position: absolute;
            border-bottom: 3px solid #bea67c;
        }

        .line3 {
            top: 300px;
            left: 470px;
            width: 60px;
            z-index: 100;
            position: absolute;
            border-bottom: 1px solid #bea67c;
        }

        .line4 {
            bottom: 30px;
            left: 1000px;
            width: 60px;
            z-index: 100;
            position: absolute;
            border-bottom: 1px solid #000;
        }

        .line5 {
            top: -165px;
            left: 820px;
            height: 70px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }
    }

}
