.b11 {
    color: #000;
    background: #fff;
    padding-top: 70px;
    padding-bottom: 70px;

    .h2 {
        margin-bottom: 10px;
        position: relative;
    }

    .subtitle {
        color: #444;
        font-size: 24px;
        font-weight: 300;
        line-height: 36px;
        position: relative;
        text-align: center;
        margin-bottom: 40px;
    }

    .box {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        img {
            @include box-shadow(0px 5px 20px 0px rgba(0, 19, 42, 0.07));
        }

        li {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 30px;
        }
    }

    .t1 {
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 40px;
        text-align: center;
    }

    .h3 {
        color: #bea67c;
        font-size: 23px;
        font-weight: 700;
        line-height: 35px;
        position: relative;
        margin-bottom: 10px;
    }

    .t2 {
        text-align: center;

        p {
            font-size: 30px;
            font-weight: 300;
            line-height: 36px;
            margin-bottom: 20px;
        }

        span {
            font-size: 17px;
            display: block;
        }
    }


    @media (min-width: $screen-sm-min) {
        padding-top: 140px;
        padding-bottom: 140px;

        .subtitle {
            text-align: left;
            margin-bottom: 70px;
        }

        .box {
            width: 100%;
            display: table;
            text-align: left;
            margin-bottom: 65px;

            li {
                margin-bottom: 0;
                position: relative;
                display: table-cell;
                vertical-align: middle;

                &:first-child {
                    padding-right: 20px;
                }

                &:last-child {
                    padding-left: 20px;
                }
            }
        }

        .t1 {
            text-align: left;

            p {
                max-width: 400px;
            }
        }

        .t2 {
            text-align: right;
        }

    }

    @media (min-width: $screen-md-min) {

        background: #fff url("../img/b11_bg.jpg") 50% 150px no-repeat;

        .box {

            li {

                &:first-child {
                    padding-right: 35px;
                }

                &:last-child {
                    padding-left: 35px;
                }
            }
        }
    }

    @media (min-width: $screen-lg-min) {

        .box {

            li {

                &:first-child {
                    padding-right: 60px;
                }

                &:last-child {
                    padding-left: 60px;
                }
            }
        }

        .line1 {
            top: 50%;
            left: -170px;
            width: 130px;
            position: absolute;
            border-bottom: 1px solid #000;
        }

        .line2 {
            top: 20px;
            left: -80px;
            width: 40px;
            position: absolute;
            border-bottom: 2px solid #bea67c;
        }

        .line3 {
            top: 50%;
            left: -80px;
            width: 40px;
            position: absolute;
            border-bottom: 1px solid #bea67c;
        }


        .line4 {
            top: -160px;
            left: 920px;
            height: 60px;
            position: absolute;
            border-left: 1px solid #bea67c;
        }

        .line5 {
            top: 50%;
            right: 10px;
            height: 40px;
            margin-top: -20px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }

        .line6 {
            bottom: 0;
            left: 50%;
            height: 70px;
            position: absolute;
            border-left: 1px solid #000;
        }

        .line0 {
            top: -140px;
            left: 920px;
            height: 40px;
            position: absolute;
            border-left: 1px solid #bea67c;
        }

        .line7 {
            top: 300px;
            left: 540px;
            width: 100px;
            position: absolute;
            border-bottom: 1px solid #000;
        }
    }
}