.b01 {
    color: #fff;
    padding-top: 40px;
    padding-bottom: 100px;
    background: url("../img/b01_bg.jpg") 50% 0 no-repeat;
    background-size: cover;

    .top {
        color: #fff;
        margin-bottom: 60px;

        .logo {
            text-align: center;
            margin-bottom: 15px;
        }

        .worktime {
            font-size: 13px;
            font-weight: 300;
            line-height: 20px;
            text-align: center;
            position: relative;
            margin-bottom: 15px;

            span {
                display: block;
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
            }
        }

        .contact {
            text-align: center;

            .tel {
                color: #fff;
                font-size: 26px;
                font-weight: 400;
                line-height: 30px;
                text-decoration: none;
            }

            .btn-text {
                color: #bea67c;
                font-size: 15px;
                font-weight: 600;
                line-height: 17px;
                border-bottom: 1px solid #4a4438;

                &:hover {
                    border-color: #bea67c;
                }
            }
        }
    }

    h1 {
        text-align: center;
        margin-bottom: 40px;

        .t1 {
            display: block;
            font-size: 34px;
            font-weight: 700;
            line-height: 40px;
            text-transform: uppercase;
        }

        .t2 {
            color: #bea67c;
            display: block;
            font-size: 26px;
            font-weight: 300;
            line-height: 30px;
        }
    }

    .text {
        color: #bea67c;
        font-size: 22px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        position: relative;
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    p {
        color: #bbb;
        font-size: 17px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;

        span {
            color: #fff;
            font-size: 24px;
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-bottom: 200px;

        .top {
            color: #fff;
            margin-bottom: 175px;

            .logo {
                float: left;
                text-align: left;
                margin-bottom: 15px;
            }

            .worktime {
                float: right;
                width: 190px;
                text-align: left;
                border-right: 1px solid #666665;
            }

            .contact {
                width: 230px;
                float: right;
                text-align: right;
            }
        }

        h1 {
            text-align: left;
            margin-bottom: 50px;

            .t1 {
                font-size: 70px;
                line-height: 80px;
            }

            .t2 {
                font-size: 40px;
                line-height: 44px;
            }
        }

        .text {
            text-align: left;
            margin-bottom: 80px;
        }


        p {
            text-align: left;
            margin-left: 40px;
        }

    }

    @media (min-width: $screen-md-min) {
        padding-bottom: 240px;

        h1 {
            text-align: left;
            margin-bottom: 50px;

            .t1 {
                font-size: 80px;
                line-height: 90px;
            }

            .t2 {
                font-size: 40px;
                line-height: 44px;
            }
        }
    }

    @media (min-width: $screen-lg-min) {
        height: 1080px;

        .scroll {
            bottom: -220px;
            right: 10px;
            width: 16px;
            height: 220px;
            position: absolute;
            background: url("../img/b01_scroll.png") 0 0 no-repeat;
        }

        .line1 {
            top: 9px;
            width: 90px;
            height: 2px;
            left: -130px;
            position: absolute;
            background: #bea67c;
        }

        .line2 {
            top: -250px;
            left: 380px;
            height: 40px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }



        .line3 {
            top: 290px;
            left: 0;
            height: 100px;
            position: absolute;
            border-left: 1px solid #fff;
        }

        .line4 {
            bottom: -210px;
            width: 60px;
            left: 740px;
            position: absolute;
            border-bottom: 1px solid #bea67c;
        }
    }

    @media (min-width: 1600px) {

        .top {

            .container {
                width: auto;
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
}