.b07 {
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
    background: url("../img/b07_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    .h2 {
        margin-bottom: 20px;
    }

    .subtitle {
        font-size: 22px;
        font-weight: 700;
        line-height: 26px;
        text-align: center;
        margin-bottom: 60px;
        position: relative;
        text-transform: uppercase;
    }

    .t1 {
        font-size: 22px;
        font-weight: 300;
        text-align: center;
        margin-bottom: 10px;

        span {
            color: #bea67c;
            font-weight: 600;
        }
    }

    .t2 {
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        text-align: center;
        margin-bottom: 50px;
    }

    .t3 {
        padding: 10px 0;
        font-size: 22px;
        line-height: 30px;
    }

    .t4 {
        color: #bea67c;
        padding: 10px 0;
        font-size: 22px;
        line-height: 30px;
        display: inline-block;
        margin-left: 20px;
    }


    .show {

        .show-video {
            color: #bea67c;
            max-width: 480px;
            position: relative;
            margin: 0 auto 40px auto;
            border: 1px solid #bea67c;

            a {
                top: 50%;
                left: 50%;
                color: #fff;
                width: 100px;
                height: 100px;
                display: block;
                padding: 33px 0;
                font-size: 30px;
                line-height: 30px;
                margin-top: -50px;
                margin-left: -50px;
                text-align: center;
                position: absolute;
                text-decoration: none;
                border: 2px solid #fff;
                @include border-radius(50%);
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        padding-top: 140px;
        padding-bottom: 140px;

        .subtitle {
            text-align: left;
            margin-bottom: 100px;
        }

        .t1 {
            font-size: 30px;
            text-align: right;
        }

        .t2 {
            text-align: right;
        }

        .show {
            margin-bottom: 100px;

            .show-video {
                margin: 0;

                &.left {
                    float: left;
                }

                &.right {
                    float: right;
                }
            }
        }
    }

    @media (min-width: $screen-md-min) {
        height: 1110px;
    }

    @media (min-width: $screen-lg-min) {

        .btn {
            margin-left: -50px;
        }

        .line1 {
            top: 20px;
            left: -170px;
            width: 130px;
            position: absolute;
            border-bottom: 1px solid #fff;
        }

        .line2 {
            top: 5px;
            left: -80px;
            width: 40px;
            position: absolute;
            border-bottom: 2px solid #bea67c;
        }

        .line3 {
            top: 20px;
            left: 940px;
            width: 130px;
            position: absolute;
            border-bottom: 1px solid #fff;
        }

        .line4 {
            top: -170px;
            left: 1180px;
            height: 80px;
            position: absolute;
            border-left: 2px solid #bea67c;
        }


        .line5 {
            top: 220px;
            left: 95px;
            height: 60px;
            position: absolute;
            border-left: 1px solid #fff;
        }
    }
}