.footer {
    color: #fff;
    padding-top: 70px;
    background: url("../img/footer_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    .h2 {

    }

    .footer-top {
        padding-bottom: 40px;
    }

    .subtitle {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        position: relative;
        margin-bottom: 40px;
        text-align: center;
    }


    .footer-bottom {
        padding: 20px 0;
        background: rgba(0,0,0, 0.6);

        .footer-row {
            width: 100%;
            z-index: 100;
            position: relative;

            li {
                width: 100%;
                text-align: center;
                vertical-align: middle;

                &.item1 {
                    color: #ddd;
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 30px;
                    text-transform: uppercase;

                    span {
                        color: #bea67c;
                    }
                }

                &.item2 {
                    padding: 15px 0 25px 0;

                    i {
                        margin-right: 5px;
                    }

                    .tel {
                        color: #fff;
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 30px;
                        display: inline-block;
                        text-decoration: none;

                        i {
                            color: #787878;
                        }
                    }

                    .email {
                        color: #bea67c;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 30px;
                        display: inline-block;
                        text-decoration: none;
                    }
                }

                &.item3 {

                }
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        .footer-top {
            padding-top: 140px;
            padding-bottom: 140px;
        }

        .h2 {
            font-size: 44px;
            line-height: 50px;
            margin-top: 150px;
        }

        .subtitle {
            text-align: left;
            padding-right: 30px;
        }

        .footer-bottom {
            padding: 0;

            .footer-row {
                display: table;

                li {
                    height: 150px;
                    width: 33.33%;
                    display: table-cell;

                    &.item1 {
                        text-align: left;
                    }

                    &.item2 {
                        padding: 0;
                    }

                    &.item3 {
                        text-align: right;
                    }


                }
            }
        }
    }

    @media (min-width: $screen-md-min) {

       .subtitle {
           text-align: left;
       }

        .form-block {
            float: left;
        }
    }

    @media (min-width: $screen-md-min) {

        .line1 {
            top: 50%;
            left: -170px;
            width: 130px;
            position: absolute;
            border-bottom: 1px solid #fff;
        }

        .line2 {
            top: 20px;
            left: -80px;
            width: 60px;
            position: absolute;
            border-bottom: 2px solid #bea67c;
        }

        .line3 {
            top: -40px;
            left: 710px;
            width: 40px;
            position: absolute;
            border-bottom: 1px solid #fff;
        }

        .line4 {
            bottom: -80px;
            left: 900px;
            height: 60px;
            position: absolute;
            border-left: 2px solid #fff;
        }
    }
}
