.btn {
	margin:0;
	color: #fff;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 20px;
	line-height: 20px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background: transparent;
	background-image: none;
	touch-action: manipulation;
	border: 2px solid #bea67c;
	@include transition(.3s);
	text-transform: uppercase;

	&:hover {
		color: #fff;
		background: #bea67c;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}

	&.btn-invert {
		color: #000;
	}

	i {
		margin-left: 8px;
	}

	@media (min-width: $screen-md-min) {

		padding: 19px 49px;
		letter-spacing: 3px;

		&.btn-user {
			padding-right: 70px;
			background-repeat: no-repeat;
			background-position: 85% 50%;
			background-image: url("../img/icon-user.png");
		}

		&.btn-user-dark {
			padding-right: 70px;
			background-repeat: no-repeat;
			background-position: 85% 50%;
			background-image: url("../img/icon-user-dark.png");
		}

		&.btn-noise {
			padding-right: 70px;
			background-repeat: no-repeat;
			background-position: 85% 50%;
			background-image: url("../img/icon-noise.png");
		}

		&.btn-tel {
			padding-right: 70px;
			background-repeat: no-repeat;
			background-position: 90% 50%;
			background-image: url("../img/icon-tel.png");
		}

		&.btn-door {
			padding-right: 70px;
			background-repeat: no-repeat;
			background-position: 85% 50%;
			background-image: url("../img/icon-door.png");
		}

		&.btn-date {
			padding-right: 70px;
			background-repeat: no-repeat;
			background-position: 85% 50%;
			background-image: url("../img/icon-date.png");
		}
	}
}

