.form-control {
	margin: 0;
	width: 100%;
	color: #ddd;
	border: none;
	outline: none;
	font-size: 18px;
	font-weight: 300;
	line-height: 20px;
	padding: 20px 5px;
	text-align: center;
	display: inline-block;
	background: transparent;
	border-bottom: 1px solid #666;
	@include placeholder(#ddd);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}

.red {

	.form-control {
		border-color: #ff0000;
	}
}



label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 10px;
}